#activebox {
    padding: 20px 0 120px 0;
    background: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @media (max-width:920px){
        padding: 20px 0 40px 0; 

    }

    @media (max-width:320px){
        padding: 0px 0 50px 0;

    }
}

#activebox::after{
    content: " ";
    display: inline-block;
    background: rgba(37, 43, 73, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.container {
    position: relative;
    z-index: 4;
}
.activebox__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  #BABBC5;
    margin: 0 -15px;
    flex-wrap: wrap;
    margin-bottom: 130px;

    @media (max-width:320px){
        border-bottom: 1px solid  $_red;
    }
    @media (max-width:320px){
        margin-bottom: 50px; 
    }


}
.activebox__img {
    width: 184px;
    height: 26px;
    overflow: hidden;
    margin: 0 15px;
    @media (max-width:320px){
        width: 117px;
        height: 17px;
        margin: 20px 0 20px 20px;
    }



    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }
}



.activebox__nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 15px;
    @media (max-width:870px){
        display: none;
    }
}


.activebox__nav-item {
    padding: 25px 15px;
    cursor: pointer;
    border-bottom: 2px solid rgba(37, 43, 73, 0);
    transition: 0.3s;

    &:hover{
        border-bottom: 2px solid $_gray;
        transition: 0.3s;
    }

    &:active{
        border-bottom: 2px solid $_red;
        transition: 0.3s;

    }

    & a{
        color: $_white;
        text-align: center;
        font-family: Raleway;
        font-size: $_13px;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.3s;
        &:active{
            &:active{
                color: $_red;
                transition: 0.3s;
        
            }
        }
    }
}
.activebox__title {
    color: $_white;
    text-align: center;
    font-family: Raleway;
    font-size: $_64px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width:1024px){
        font-size: $_48px;
        margin-bottom: 60px;
    }
    @media (max-width:320px){
        font-size: $_36px;
        margin-bottom: 32px;

    }


}
.activebox__text {
    text-align: center;
    margin-bottom: 80px;
    & p{
        color: $_white;
        font-family: Raleway;
        font-size: $_24px;
        font-weight: 400;

        @media (max-width:1024px){
            font-size: $_18px;   
        }

        @media (max-width:320px){
            font-size: $_13px;
            
        }
    }
    @media (max-width:1024px){
        margin-bottom: 90px;
    }

    @media (max-width:320px){
        margin-bottom: 50px;
        
    }
}
.activebox__btn {
    margin: auto;
    display: flex;
    width: 370px;
    height: 80px;
    justify-content: center;
    background-color: $_red_normal_btn;
    color: $_white;
    text-align: center;
    font-family: Raleway;
    font-size: $_24px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    border: none;
    transition: 0.3s;

    &:hover{
        background-color: $_red_hover_btn; 
        transition: 0.3s;
    }
    &:active{
        background-color: $_red_normal_btn; 
        box-shadow: 4px 4px 30px 0px #FF4343;
        transition: 0.1s;
    }

    @media (max-width:1024px){
        width: 314px;
        height: 80px;
    }
    @media (max-width:400px){
        width: 280px;
        height: 60px;
    }

    

}