//fonts-----
$_64px: 4rem;
$_48px: 3rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_14px: 0.875rem;
$_13px: 0.8125rem;

//colors-----
$_black: #000;
$_white: #FFF;
$_gray: #BABBC5;
$_red: #E71414;

//bg-btn-colors-----
$_red_normal_btn: #FF4343;
$_red_hover_btn: #E71414;

//bg-work-colors-----

$_red_hover_work:rgba(255, 67, 67, 0.80);
$_red_active_work:rgba(185, 12, 12, 0.8);
